@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body {
    top: 0;
    margin: 0;
    background: #88B0D7;
}

.nava {
    width: 115px;
    height: 49px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 49px;
    letter-spacing: -0.995745px;
    color: white;
    text-decoration: none;
    margin-left: 80px;
}

.nava:hover {
    color: crimson;
}

.nav-links {
    list-style-type: none;
}

.navUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 25px;
}

.navBar {
    position: relative;
    background: #6699CC;
    top: -20px;
    height: 100px;
    width: 100%;
}

.area {
    height: 49px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 49px;
    letter-spacing: -0.995745px;
    color: white;
    text-decoration: none;
    margin-left: 80px;
}